
    <div class="card mb-2 m-3">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img class="card-image-top" src="<%= @shop.image %>" alt="" style="width:250px ; height: 300px">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title" >
                        Name :
                    </h5>
                    <%= @shop.name %>
                    <div class="form-group">
                    
        <label for="sel1">Select item quantity :</label>
            <%= select_tag "quantity", options_for_select((1..10).to_a,1) %>
            </div>
                <div>
                <h5>Price :</h5> <%= @shop.price%> SR
                </div>
                <div>
                <h5>Description:</h5>  <%= @shop.description %>
                </div>
            <div>
                    <%= link_to '<button type="button" class="btn btn-outline-warning">Add to Cart</button>'.html_safe, carts_path(@shop.id) %>
                    
            </div>
        </div>
    </div>


