<div class="container">
    <h1>Shopping Cart</h1>
    <div>
    <%= link_to '<button type="button" class="btn btn-outline-warning">Continue Shopping</button>'.html_safe, shops_path %>
	<table id="cart" class="table table-hover table-condensed"></div>
    			<thead>
						<tr>
							<th style="width:50%">Product</th>
                            <th style="width:50%">Item Name</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
                            <% if $orders.blank?  %>
                                <p>you have no items in your cart</p>
                                <% else %>
                                
                                <% totalPrice = 0 %>
                                <div class="cards" >
                                <% $orders.each do |o| %>
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-4 ">
                                    <img src="<%= o.image %>" width=250; height=250 alt="..." class="img-responsive"  /></div>
							
								</div>
							</td>
                            <td><strong  class="item_name"><%= o.name %></strong>
										</td>
							<td data-th="Price"> <%= o.price %></td>
							<td data-th="Quantity">
								<input type="number" class="form-control text-center" value="1">
							</td>
							<td data-th="Subtotal" class="text-center"><%= o.price %></td>
                                <p><% totalPrice+=o.price %></p>
						</tr>
					</tbody>
                    <% end %>
					<tfoot>
						<tr class="visible-xs">
							
						</tr>
                        
						<tr>
                            <td><%= link_to "Remove all items", '/carts/del' , class:"btn btn-outline-warning px-5"%><br>
							</td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total Price: <%= totalPrice %> SR</strong></td>
							<td><%= link_to "Checkout", new_cart_path , class:"btn btn-outline-warning px-5"%><br>
                            </tr>
					</tfoot>
                
				</table>
            
</div>

<% end %>