
<%= form_for @appointment do |form| %>

<div class="field">
  Services: <%= form.collection_select(:service_id, Service.all, :id, :name) %>
</div>

<div class="field">
  Date: 
   <%= form.date_field :date %>
</div>


<div class="field">
  Time:
   <%= form.time_field :time %>
</div>

<div class="field">
  Location:
   <%= form.text_field :location %>
</div>

  <%= submit_tag("Submit") %>

<% end %>