
<h1>show Appointment</h1>

<strong>Service Name: </strong><%= @appointment.service.name %><br/>
<strong>Service Description:</strong> <%= @appointment.service.description %><br/>
<strong>Service Duration: </strong><%= @appointment.service.duration %><br/>
<strong>Service Price:</strong> <%= @appointment.service.price %><br/>
<strong>Date:</strong> <%= @appointment.date%><br/>
<strong>Time:</strong> <%= @appointment.time %><br/>
<strong>Location:</strong> <%= @appointment.location %><br/>


<%= link_to 'All appointment', appointments_path %>